#delete submodule
Config.json
src/gin
src/github.com/KyleBanks/depth
src/github.com/PuerkitoBio/purell
src/github.com/PuerkitoBio/urlesc
src/github.com/RaMin0/gin-health-check
src/github.com/acroca/go-symbols
src/github.com/beorn7/perks
src/github.com/cpuguy83/go-md2man
src/github.com/denisenkom/go-mssqldb
src/github.com/dgrijalva/jwt-go
src/github.com/ghodss/yaml
src/github.com/gin-contrib/sse
src/github.com/gin-gonic/contrib
src/github.com/gin-gonic/gin
src/github.com/go-delve/delve
src/github.com/go-openapi/jsonpointer
src/github.com/go-openapi/jsonreference
src/github.com/go-openapi/spec
src/github.com/go-openapi/swag
src/github.com/go-sql-driver/mysql
src/github.com/gocql/gocql
src/github.com/gocraft/health
src/github.com/golang/protobuf
src/github.com/golang/snappy
src/github.com/gorilla/handlers
src/github.com/gorilla/mux
src/github.com/hailocab/go-hostpool
src/github.com/heptiolabs/healthcheck
src/github.com/jinzhu/gorm
src/github.com/jinzhu/inflection
src/github.com/karrick/godirwalk
src/github.com/konsorten/go-windows-terminal-sequences
src/github.com/labstack/echo
src/github.com/labstack/gommon
src/github.com/mailru/easyjson
src/github.com/mattn/go-colorable
src/github.com/mattn/go-isatty
src/github.com/matttproud/golang_protobuf_extensions
src/github.com/nsf/gocode
src/github.com/pkg/errors
src/github.com/prometheus/client_golang
src/github.com/prometheus/client_model
src/github.com/prometheus/common
src/github.com/ramya-rao-a/go-outline
src/github.com/robzienert/http-healthcheck
src/github.com/rogpeppe/godef
src/github.com/rs/cors
src/github.com/shomali11/util
src/github.com/sirupsen/logrus
src/github.com/sqs/goreturns
src/github.com/stamblerre/gocode
src/github.com/swaggo/files
src/github.com/swaggo/gin-swagger
src/github.com/swaggo/swag
src/github.com/ugorji/go
src/github.com/urfave/cli
src/github.com/uudashr/gopkgs
src/github.com/valyala/fasttemplate
src/golang.org/x/crypto
src/golang.org/x/lint
src/golang.org/x/net
src/golang.org/x/sys
src/golang.org/x/text
src/golang.org/x/tools
src/gopkg.in/gin-gonic/gin.v1
src/gopkg.in/go-playground/validator.v8
src/gopkg.in/inf.v0
src/gopkg.in/yaml.v2
src/cloud.google.com/go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

pkg
.idea