<html lang="en">
  <head>
    <title>GoGame</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>Welcome to GoGame</h1>
    </div>

    <h2>Select Game:</h1>
    <div class="menu">
    <button onclick="createPagePrediction()">Prediction</button><br><br>
    <button onclick="createPageFact()">Fact Check</button><br><br>
    <button onclick="createPageDare()">Let's Do Something</button><br><br>
    <button onclick="createPageFun()">Wanna Have Fun?</button>
    </div>

    <footer>
      <p>intanmarsjaf©2022 · <a href="https://github.com/intaen">Github</a></p>
    </footer>
  </body>
</html>