body {
      font-family: Arial;
    }

    .title {
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }

    h1 {
      color: blue;
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    h3 {
        color: black;
        text-align: center;
    }

    form {
        text-align: center;
    }

    .menu {
      text-align: center;
      position: relative;
    }

    .button {
      text-align: center;
      position: relative;
    }